<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>{% block title %} OpenID Consumer {% endblock %}</title>
  <link href="/static/base.css" rel="stylesheet" type="text/css"/>
  {% block head %}{% endblock %}
</head>

<body {% block bodyattributes %}{% endblock %}>

<div id="navbar">
    <a href="http://code.google.com/p/google-app-engine-samples/downloads/list">
      Download source</a>
  | <nobr><a href="http://openid.net/">
      <img src="/static/openid-icon.png" />OpenID</a></nobr>
  | <a href="http://code.google.com/appengine/">
      <img src="/static/appengine_button_noborder.gif"
           style="vertical-align: middle" /></a>
</div>

<div id="header">
  <a href="/"><img id ="openid-logo" alt="OpenID" src="/static/openid-logo.png" /></a>
  <p id="title">Example Consumer</p>
</div>

<div id="body">

<table><tr><td>
<form method="post" action="/login">
<p>Enter your OpenID URL:</p>
<p>
<input type="text" name="openid" id="openid" value="{{ claimed_id }}" />
<input type="submit" value="Login" />
<br />
<input type="checkbox" name="display" id="display" checked="yes" />
<label for="display">Display this in the list of recent logins</label>
</p></form>

</td><td>

{% if response %}
  {% ifequal response.status "success" %}
    <span class="cancel">Success!</a><br />
    <nobr><a href="{{ response.endpoint.claimed_id }}">
      <img src="/static/openid-icon.png" />{{ response.endpoint.claimed_id }}
      </a></nobr><br />
    Server: {{ response.endpoint.server_url }}
    {% if pape_data.auth_policies %}
      <i>{% for policy in pape_data.auth_policies %}{{ policy }} {% endfor %}</i>
    {% endif %}
  <!--   {% if response.message %} <br /> {{ response.message }} {% endif %} -->
    {% for field in sreg_data %}
      <br /> {{ field.0 }}: {{ field.1 }}
    {% endfor %}
  
  {% else %}
    <span class="cancel">Login cancelled.</a>
  {% endifequal %}

{% else %}{% if error %}
  <span class="error">{{ error }}</span>

{% endif %}{% endif %}
</td></tr></table>

<div class="top">
  <div class="left"></div>
  <div class="right"></div>
  Recent Logins
</div>

<table class="logins">
{% for login in logins %}
  <tr class="{{ login.status }}">
    <td class="status">
      <img class="icon" src="/static/{{ login.status }}.png"
           alt="{{ login.response }}" title="{{ login.status }}" />
    </td>
    <td class="openid">
      <a href="{{ login.claimed_id }}">
        {% ifnotequal login.status "failure" %}
          <img src="/static/openid-icon.png" />
        {% endifnotequal %}
        {{ login.claimed_id }}</a>
    </td>
    <td class="timestamp">
      {{ login.friendly_time }}
    </td>
  </tr>
{% endfor %}
{% if not logins %}
  <tr><td colspan="3" class="light" align="center">
  No logins yet. :(
  </td></tr>
{% endif %}
</table>

<div class="bottom">
<table class="key"><tr>
  <td class="success">
    <img class="icon" src="/static/success.png" /> Logged in
  </td>
  <td class="cancel">
    <img class="icon" src="/static/cancel.png" /> Cancelled
  </td>
  <td class="failure">
    <img class="icon" src="/static/failure.png" /> Failed
  </td>
</tr></table>

<div class="left"></div>
<div class="right"></div>

</div>
</div>

</body>
</html>
