{% extends "base.html" %}

{% block body %}
<form method="post" action="/login">
<p>Enter your OpenID URL to log in:</p>
<p>
<input type="text" name="openid" id="openid" />
<input type="submit" value="Login" />
<br />
<input type="checkbox" name="display" id="display" checked="yes" />
<label for="display">Display this in the list of recent logins</label>
</p></form>

<div class="top">
  <div class="left"></div>
  <div class="right"></div>
  Recent Logins
</div>

<table class="logins">
{% for login in logins %}
  <tr class="{{ login.result }}">
    <td class="result">
      <img class="icon" src="/static/{{ login.result }}.png"
           alt="{{ login.result }}" title="{{ login.result }}" />
    </td>
    <td class="openid">
      {{ login.openid }}
    </td>
    <td class="provider">
      {{ login.provider }}
    </td>
    <td class="time">
      {{ login.time|date:"M j \a\t P" }}
    </td>
  </tr>
{% endfor %}
{% if not logins %}
  <tr><td colspan="3" class="light" align="center">
  No logins yet. :(
  </td></tr>
{% endif %}
</table>

<div class="bottom">
<table class="key"><tr>
  <td class="confirmed">
    <img class="icon" class="icon" src="/static/confirmed.png" /> Confirmed
  </td>
  <td class="declined">
    <img class="icon" src="/static/declined.png" /> Declined
  </td>
</tr></table>

<div class="left"></div>
<div class="right"></div>

</div>

{% endblock %}
