{% extends "base.html" %}

{% block response %}
<p>
{% ifequal response.status "success" %}
  <nobr><a href="{{ response.endpoint.claimed_id }}">
    <img src="/static/openid-icon.png" />{{ response.endpoint.claimed_id }}
    </a></nobr><br />
  Server: {{ response.endpoint.server_url }}
  {% if pape_data.auth_policies %}
    <i>{% for policy in pape_data.auth_policies %}{{ policy }} {% endfor %}</i>
  {% endif %}
<!--   {% if response.message %} <br /> {{ response.message }} {% endif %} -->
  {% for field in sreg_data %}
    <br /> {{ field.0 }}: {{ field.1 }}
  {% endfor %}

{% else %}
  <span class="error">Declined</a>
{% endifequal %}
</p>
{% endblock %}
