<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
 <title>Administration</title>
  <link rel="stylesheet" type="text/css" href="css/geoserver.css" media="all"/>
  <script
    type="text/javascript" src="http://maps.google.com/maps?file=api&v=2.x&key=ABQIAAAA-O3c-Om9OcvXMOJXreXHAxQGj0PqsCtxKvarsoS-iqLdqZSKfxS27kJqGZajBjvuzOBLizi931BUow"></script>
  <script type="text/javascript" src="js/readonly.js"></script>
  <script type="text/javascript">
  {% if login %}
  var current_user = '{{ login.name }}';
  {% endif %}
  </script>
</head>
 <body onload="new geoserver.displayMap('adminPanel')">
   <div id="controls-top">
    <table style="width:100%" cellpadding="0" cellspacing="0">
<tr>
<td class="header" style="width:60%">
<span style="font-size: 36px">geo data store</span>
</td>
<td class="header" style="text-align:right">
    {% if login %}
    {{ login.name }} | <a href="{{ login.url }}">{{login.linktext }}</a>
    {% endif %}
</td>
</tr>
<tr>
<tr>
<td class="divider" colspan="2">
<!-- nothing here! -->
</td>
</tr>
<td class="subheader" colspan="2">
<table>
  <tr>
   <td class="sublink" id="sublink0">
     <a href="admin" id="sublink0a">Map Admin Panel</a></td>
   <td> | </td>
   <td class="sublink" id="sublink1">
     <a href="query" id="sublink1a">KML Output</a></td>
  </tr>

</table>
</td>
</tr>
</table>
   </div>
   <div id="adminPanel"></div>
<table style="width:100%" cellpadding="0" cellspacing="0">
<tr>
<td class="divider" colspan="2">
<!-- nothing here! -->
</td>
</table>
 </body>
</html>

